.container {
    max-width: 800px; /* Maximum width of the content container */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Padding inside the container */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Subtle shadow around the container */
    border-radius: 8px; /* Rounded corners */
}

.container h3 {
    font-size: 28px; /* Larger font size for h3 */
    font-weight: bold; /* Bold font weight */
    text-decoration: underline; /* Underline the text */
    text-align: center; /* Center aligning h3 */
    margin-top: 30px; /* Add space above the h3 */
    margin-bottom: 20px; /* Add space below the h3 */
}

.container p, .container ul {
    font-size: 16px; /* Adjust font size as needed */
    line-height: 1.6; /* Spacing between lines */
    text-align: justify; /* Justify text alignment for paragraphs and list items */
}

/* Additional specific styles for other titles */
.container .zone-title, .container .report-title {
    font-size: 18px; /* Slightly larger font size for sub-titles */
    font-weight: bold; /* Bold font weight */
    text-align: center; /* Center aligning titles */
    margin-top: 20px; /* Add space above the title */
    margin-bottom: 10px; /* Add space below the title */
}

.chart-container {
    display: flex; /* This makes it a flex container and aligns children side by side */
    justify-content: center; /* This centers the children in the flex container */
    align-items: start; /* This aligns the children at the start of the cross axis */
    height: 550px; /* Set a fixed height for the container */
    gap: 20px; /* Adds some space between the flex items */
}

.doughnut-chart {
    flex: 1; /* This allows the chart to grow and take available space */
    height: 500px; /* Set a fixed height for the chart */
}

.zone-list {
    margin-top: 200px;
    flex: 1; /* This also allows the list to grow and take available space */
    height: 420px; /* Set a fixed height for the list */
}

/* Styles for Headlines */
.headline {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    letter-spacing: 10%;
    text-transform: uppercase;
}
  
/* Styles for Body Text */
.body-text {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: semibold;
    letter-spacing: normal;
    text-transform: none;
}
  

/* Styles for Numbers */
.numbers {
    font-family: Arial, sans-serif;
    font-weight: bold;
    letter-spacing: normal;
    text-transform: none;
}
  

.scroll{
    overflow-y: scroll;
    scrollbar-color: transparent blue;
    background-color: transparent;
    height: 180px;
    max-height: 180px;
    position: relative;
    bottom:40px;
    z-index: 1;
}

/* For Webkit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Set the width of the scrollbar */
}
  
::-webkit-scrollbar-thumb {
    background-color: #00F19F; 
    border-radius: 20px;  
}

/* Default styles for screens wider than 14 inches */
.element {
    width: 615px;
}
  
  /* Media query for screens up to 14 inches */
@media (max-width: 16in) {
    .element {
        width: 370px; /* Set the width to 100% for screens up to 14 inches */
    }
}
